# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/
.env
.env.prod

# Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

# React build
/build/
/.next/
/out/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Testing
/coverage/

# Production
*.env
dist/
.cache/